<h1 style="text-align: center">Parkování v okolí</h1>
<br>
<div class="row">
    <div class="col-sm-6">
        {control nearParking}
    </div>

    <div n:if="!empty($googleMapsUrl)" class="col-sm-6">
        <img n:if="!empty($googleMapsUrl)" src="{$googleMapsUrl}">
    </div>
</div>
<br><br>
<div n:if="!empty($apiUrl)" class="row">
    <div class="col-sm-12">
        <span><strong>Url:</strong> <a href="{$apiUrl}" target="_blank">{$apiUrl}</a></span>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <table n:if="!empty($results)" class="table table-striped">
            <tr>
                <th>Název</th>
                <th>Poloha</th>
                <th>Počet volných míst</th>
                <th>Počet obsazených míst</th>
                <th>Celkový počet míst</th>
                <th>Naposledy aktualizováno</th>
                <th>Vzdálenost</th>
            </tr>
            <tr n:foreach="$results as $result">
                <td>{$result->name}</td>
                <td>{$result->latitude},{$result->longitude}</td>
                <td>{$result->freePlaces}</td>
                <td>{$result->takenPlaces}</td>
                <td>{$result->totalPlaces}</td>
                <td>{$result->lastSynchronized->date|date:'d. m. Y H:i'}</td>
                <td n:if="!empty($result->distance)">{$result->distance} Km</td>
            </tr>
        </table>
    </div>
</div>
